/*首页*/
.home .panel{border-radius:0;}
.home .panel-default{border-color:#EEE;}
.home .content h4{border-bottom:1px #E9E9E9 solid; padding:15px 15px 15px 25px; margin:0; font-weight:normal; font-size:18px;}
.home .content h6{font-size:16px; color:#333;}
.home .content .con .panel-body .row{text-align:center;}
.home .content .con .panel-body .row>div{overflow:hidden; text-align:center;}
.home .content .con .panel-body .row p{color:#666;}
.home .content .con .panel-body .system-announcement{margin:0 10px;}
.home .content .con .panel-body .system-announcement li{margin:15px 0; height:40px; line-height:40px; background:#f7f7f9;}
.home .content .con .panel-body .system-announcement li a{display:block; float:left; text-align:left; padding:0 15px; color:#666;}
.home .content .con .panel-body .system-announcement li span{display:inline-block; float:left; color:#FFF; width:50px;}
.home .content .con .panel-body .system-announcement li span.style-1{background:#6592df;}
.home .content .con .panel-body .system-announcement li span.style-2{background:#60bc6a;}
.home .content .con .panel-body .system-info>div{display:inline-block; margin:20px 0;}
.home .content .con .panel-body .system-info .icon{display:inline-block; width:100px; height:100px; border-radius:50%; background:#4eacea;}
.home .content .con .panel-body .system-info .icon i{font-size:50px; color:#FFF; margin-top:25px;}
.home .content .con .panel-body .module-info>div{display:inline-block; margin:20px 0;}
.home .content .con .panel-body .module-info .icon img{width:62px; height:62px;}
.home .content .contact .info{font-size:16px;}
.home #head{position:absolute; z-index:1; text-align:center; width:100%; top:10%;}
.home #head .logo{display:inline-block; background:none; width:420px; height:95px;}
.home #head .advertisement{font-size:50px; color:#FFF; margin:5% 0 10% 0;}
.home #head .btns .btn{margin:0 10px;}
.home #banner{width:100%; margin:0 auto;}
.home #banner .item{width:100%; background-size:cover; background-position:50% 50%;}
.home #banner .carousel-indicators .fa{color:#FFF; font-size:50px; background:none !important;}
.home .content .banner{background-image:none; background-size: 990px 380px; background-position: center 15px; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; background-repeat: no-repeat; height:380px; background-color:#FFFFFF; min-width: 1014px; min-height: 180px;}
.home .content .con{padding-top:20px;}
.home .footer{height:50px; line-height:25px; margin-bottom:30px; color:#666;}
.home .footer a{color:#666;}
.home .footer a:hover{color:#428bca; text-decoration:none;}
#baidumap *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
#baidumap .BMap_bubble_title{padding-right:15px;}
#baidumap .BMap_bubble_content{padding-right:15px;}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.main-entry {
    width: 360px;
    height: 50px;
    margin: 15px auto 0;
}
.main-entry a {
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    height: 50px;
    width: 170px;
    color: #ffffff;
    line-height: 50px;
    position: relative;
}

.main-entry a .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-left: 38px;
}

.main-entry a .title i {
    position: absolute;
    left: 28px;
    top: 14px;
    background: url(./zhuce.png) no-repeat 0 0;
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px;
}

.main-entry a .title .seller {
    background-image: url(./denglu.png);
}

.main-entry s {
    background-color: #00a3ee;
    opacity: .9;
    display: block;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.main-entry a:hover s {
    background-color: #00aaee;
    opacity: 1;
}

a.personal-login {
    margin-left: 20px;
}

.main-sigh-in {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.main-sigh-in *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.main-sigh-in .sign-in-bg {
    display: none;
    position: absolute;
    z-index: 997;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.main-sigh-in .sign-in-mod {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -163px;
    z-index: 998;
    padding: 20px 25px 10px;
    color: #ffffff;
    border: 1px solid transparent;
    background: rgba(0,0,0,.5);
    _background: 0 0;
    _border: 0;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66000000', EndColorStr='#66000000');
}
.main-sigh-in .sign-in-mod .form-title {
    font: 18px/28px tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
    font-weight: 500;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 18px;
}
.main-sigh-in .sign-in-mod .form-group-input {
    width: 100%;
    height: 37px;
}
.main-sigh-in .sign-in-mod .form-group-input label {
    float: left;
    padding: 0;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    border-left: 1px solid #a7a7a7;
}
.main-sigh-in .sign-in-mod .form-group-input label span {
    width: 39px;
    height: 38px;
    display: block;
    overflow: hidden;
    background-color: #aaabab;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 38px;
}
.main-sigh-in .sign-in-mod .form-group-input label span i.iconfont-auth {
    font-family:"iconfont" !important;
    font-size: 24px;
    font-style: normal;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
.main-sigh-in .sign-in-mod .form-group-input input.form-control {
    float: left;
    padding-left: 10px;
    width: 216px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #fff;
    border-radius: 0;
    outline:none;
}
.main-sigh-in .sign-in-mod .form-item input.button-metro {
    height: 40px;
    width: 232px;
    border-radius: 4px;
    background-color: #0AE;
    border-color: #0AE;
    display: block;
    text-align: center;
    margin: 0 auto 5px;
}
.main-sigh-in .sign-in-mod .form-item input.button-metro:hover {
    text-decoration: none;
    background-color: #00a3d2;
    border-color: #00a3d2;
}
.main-sigh-in .sign-in-mod .qrcode {
    margin-top: 0;
}
.main-sigh-in .sign-in-mod .qrcode .description p {
    line-height: 25px;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
}
.main-sigh-in .sign-in-mod .qrcode .description p:hover {
    color: #929292;
}
.main-sigh-in .sign-in-mod .qrcode .image {
    background-color: #ffffff;
    border-radius: 10px;
}